* {
    background-color: lightgreen;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: lightgreen; */
}

.pokeChart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;    
}

.pokeStats {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 18px;
    padding: 5px;
    margin: 5px;

}

.image {
    align-self: center;
}

.paragraph {
    font-size: large;
    font-weight: bold;
}

.informationButton {

}

.cardBackground {
    background-color: lightslategray;
}